body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1; /* Light gray background */
    color: #333; /* Dark text color */
    padding: 20px 200px 200px 200px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    font-size: 80px;
    font-weight: 400;
}
.inputbox{

    display:flex;
    border-radius: 40px;
    color: #000000;
    margin: 10px;
    font-size: 20px;
    justify-content: center;
}
.inputbox-p{
    color: #007bff;
    background-color: #f1f1f1;
    font-size: 20px;
    margin-top:13px ;
    padding: 6px;
    border-radius: 10px;
    border-color:#007bff ;
    
    
}
.inputbox #task_name {
    padding: 10px;
    border-color: #007bff;
    border-radius: 10px;

}
.nav-tabs {
    padding: 10px;
    display: flex; 
    justify-content: center; 
}

.nav-tabs .nav-item .nav-link {
    border: 1px solid #007bff;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    margin: 0 5px; 
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #007bff; 
    color: white; 
}

.tab-content {
    background-color: rgb(255, 255, 255); 
    border: 1px solid #007bff; 
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px; 
    text-decoration: none;
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 10px 0; 
    text-decoration: none;

}

.btn {
    
    background-color: #ffffff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 5px 10px; 
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    transform: translateX(-2px);
    transform: translateY(-1px);
}